body {
    font-family: Garamond, serif;
    color: #330000;
    background: #fefffe;
    max-width: 45em;
}

h1, h2 {
    color: #661111;
}

li {
    margin-bottom: 1ex;
}

li::marker {
    color: #661111;
    font-size: 120%;
}

dt {
    float: left;
    text-align: right;
    padding-right: 1ex;
    font-weight: bold;
    color: #661111;
    width: 6em;
}

dt::after {
    content: ":";
}

dd {
    display: block;
    clear: right;
}

dt, dd {
    margin-bottom: 1ex;
}
