body {
    font-family: Garamond, serif;
    margin: 1rem;
}

header, main, footer {
    max-width: 45rem;
    margin: auto;
}

nav {
    display: flex;
    justify-content: space-between;
    font-size: 83.333333%;
}

nav a {
    text-decoration: none;
}

main {
    line-height: 1.5;
}

h1, h2 {
    font-family: Helvetica, sans-serif;
    font-weight: normal;
    line-height: normal;
    color: #333333;
}

h1 {
    font-size: 207.36%;
}

h2 {
    font-size: 172.8%;
}

figure.headshot img {
    display: block;
    width: 100%;
    float: none;
}

@media only screen and (min-width: 600px) {

    figure.headshot img {
        width: 20rem;
        float: right;
        padding-left: 1rem;
        padding-bottom: 1rem;
    }
}

li {
    margin-bottom: 1ex;
}

li::marker {
    font-size: 120%;
}

dt {
    float: left;
    text-align: right;
    padding-right: 1ex;
    font-weight: bold;
    width: 6rem;
    color: #333333;
}

dt::after {
    content: ":";
}

dd {
    display: block;
    clear: right;
}

dt, dd {
    margin-bottom: 1ex;
}

footer {
    margin-top: 4ex;
    color: #333333;
    font-style: italic;
    font-size: 83.33333%;
}
